<h1>Test Emocionario</h1>

<p>INSTRUCCIONES: ¿Quiere saber si estas triste?  ¿O algun otro tipo de animo?<br>
Responda a las siguientes preguntas marcando una casilla en la que se sienta mas identificado.
</p>

<ul>
  <li>0 - Casi nunca</li>
  <li>1 - A veces</li>
  <li>2 - Bastante</li>
  <li>3 - Muchas veces</li>
</ul>

<p>1. Me desanima pensar en el futuro <br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

<p>2. Me siento descontento e inseguro conmigo mismo y soy muy crítico con mis fallos. <br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

 <p>3. ¿Disfrutas de las cosas cotidianas de la vida? <br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

   <p>4. Estoy irritable.<br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

<p>5. No me interesa ni mí alrededor, ni la gente que me rodea.<br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

<p>6. Me cuesta prestar atención y concentrarme, todo me supone un esfuerzo extra. <br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

<p>7. ¿Tienes planes de futuro que te ilusionan?<br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

<p>8. ¿Consideras que los errores son una forma de aprendizaje?<br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

<p>9. Cuando como algo no lo disfruto aunque sea algo que me gusta <br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

<p>10. Me encuentro triste y analizo constantemente cómo estoy y lo que me sucede. <br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>

<p>11. Pienso en hacerme daño (o incluso me lo hago) y en el suicidio <br>
<input type="radio" name="1" value="a"/>
<label>1</label>
<input type="radio" name="2" value="b"/>
<label>2</label>
<input type="radio" name="3" value="c"/>
<label>3</label>
<input type="radio" name="4" value="d"/>
<label>4</label>
</p>



<p>VALORACIÓN: A continuación, sume todas las puntuaciones <br>
      obtenidas y busque el rango en el que se encuentra.</p>

 <p>*Tenga en cuenta que si a las preguntas 3, 7 y 8 les dio un valor de <br>
      3 o 4, pero sus resultados aun así no son favorables, entonces <br>
       tiene momentos de felicidad buenos en su vida pero que no <br>
       cambian su estado de ánimo al recordarlos en este momento. <br> 
       Lo recomendable es que consulte a un especialista porque puede <br>estar deprimido.
      </p>
 
  <p>Entre 0 y 15 puntos: Es normal que en la vida haya momentos<br> en los que se encuentre más desanimado, no obstante, eso no <br>significa que usted esté triste o deprimido, al contrario, tiene un <br>momento de felicidad en su vida en estos momentos.</p>

   <p>• Entre 15 y 25 puntos: Usted podría tener tristeza momentánea o<br> miedo a su entorno, esto, por como respondió a las preguntas<br> sobre la vida cotidiana, pero, de alguna manera puede que su<br> estado de ánimo sea enojo, frustración o está aburrido, le <br>aconsejamos cambiar su rutina del día, o agregar algo que le<br> beneficie como ejercicio para que pueda despejar su mente.
</p>

   <p>• A partir de 25 puntos: Esta realmente triste o deprimido y no es <br>que sea momentáneo su estado de ánimo o condición. Puede<br> recuperar su motivación y superar este problema si trabaja en<br> equipo con un especialista.

</p>
